* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	background: #d1c8ff;
}

ul {
	display: flex;
	list-style-type: none;
}

.images-container {
	display: flex;
	margin: 50px auto;
}

.card-img {
	width: 40px;
	height: 28px;
	margin-left: 4px;
	border-radius: 3px;

}

.card-img-filter {
	filter: grayscale(100%);
	opacity: 0.5;
}

.container-message {
	width: 200px;
	height: 50px;
}

.validate-form {}

.input-card-number {
	width: 200px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 5px;
}

.validate-button {
	width: 100px;
	height: 30px;
	color: #000;
	border-radius: 3px;
	background-color: aquamarine;
	cursor: pointer;
}

.validate-button:focus {
	outline: 0px;
}
.Message {
    color: red;
    font-size: 20px;
    line-height: 1.6;
	display: none;
}

